.readMore{
  color: #008489;
  cursor: pointer;
  font-weight: bold;
}

.readMore:hover { 
  text-decoration: underline;
}


.Amenities{
  padding: 3% 0;
}

.AmenitiesShowAll{
  padding-bottom: 3%;
}

.AmenitiesShowAllTitle{
  font-weight: bold;
}



