.mainContainer{
  max-width: 50%;
  padding: 3%;
  font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 10px;
  color:#484848;
}

img {
  border-radius: 50%;
}

.entireContainer{
  padding-bottom: 3%;
}

.writeUp{
  padding: 7% 0 3% 0;
}
.readMore{
  color:#008489;
  cursor: pointer;
  font-weight: bold;
  padding: 3% 0;
}

.readMoreSubSectionTitles{
  font-weight: bold;
  padding: 3% 0
}

.readMore:hover { 
  text-decoration: underline;
}
